node_modules
*/bower_components
*/.sass-cache
*/.tmp
*/.idea
*/.vscode
*/.DS_Store
*/.git
*/.gitignore
*/.gitattributes
*/.jshintrc
*/.bowerrc
*/.editorconfig
*/.babelrc
*/.eslintrc
*/.eslintignore
*/.travis.yml
*/.istanbul.yml
*/.coveralls.yml
*/.npmignore
*/.npmrc
*/.yarnrc
*/.yarnclea
dist